@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-libre-baskerville);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-libre-baskerville), serif;
}
